{% extends 'shop/base.html' %}

{% block content %}
    <div class="col-sm-4">
    <img src="{{ product.image.url }}" style="width:80%; height: 250px;">
    </div>
    <div class="col-sm-8">
    <h3 class="'text-center">{{ product.title }}</h3>
    <p>{{ product.description }}</p>
    <p>{% lorem %}</p>
    <hr>
    <p style="font-size:25px;">Цена: <strong>{{ product.price }} руб.</strong></p>
    <form action="{% url 'cart_add' product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Добавить в корзину">
    </form>
    </div>

{% endblock content %}
